<a href="https://colab.research.google.com/github/trineke888/Examples/blob/main/HW_28_02_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Урок 2. Анализ датасета с помощью Pandas

# **Условие 1: Задача 1**

**Скачать файл в уроке https://gb.ru/lessons/413654/kc_house_data.csv**

*Считать данные с помощью pandas*

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,"7129300520,""20141013T000000"",221900,3,1,1180,5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"6414100192,""20141209T000000"",538000,3,2.25,257...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"5631500400,""20150225T000000"",180000,2,1,770,10...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"2487200875,""20141209T000000"",604000,4,3,1960,5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"1954400510,""20150218T000000"",510000,3,2,1680,8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,"0263000018,""20140521T000000"",360000,3,2.5,1530...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21609,"6600060120,""20150223T000000"",400000,4,2.5,2310...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21610,"1523300141,""20140623T000000"",402101,2,0.75,102...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21611,"0291310100,""20150116T000000"",400000,3,2.5,1600...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21612,"1523300157,""20141015T000000"",325000,2,0.75,102...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

*Вывести на экран первые 5 строк*

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,"7129300520,""20141013T000000"",221900,3,1,1180,5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"6414100192,""20141209T000000"",538000,3,2.25,257...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"5631500400,""20150225T000000"",180000,2,1,770,10...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"2487200875,""20141209T000000"",604000,4,3,1960,5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"1954400510,""20150218T000000"",510000,3,2,1680,8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Условие 2: 2 задача**
*Проведите первичный анализ данных*

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  object
 1   date           0 non-null      float64
 2   price          0 non-null      float64
 3   bedrooms       0 non-null      float64
 4   bathrooms      0 non-null      float64
 5   sqft_living    0 non-null      float64
 6   sqft_lot       0 non-null      float64
 7   floors         0 non-null      float64
 8   waterfront     0 non-null      float64
 9   view           0 non-null      float64
 10  condition      0 non-null      float64
 11  grade          0 non-null      float64
 12  sqft_above     0 non-null      float64
 13  sqft_basement  0 non-null      float64
 14  yr_built       0 non-null      float64
 15  yr_renovated   0 non-null      float64
 16  zipcode        0 non-null      float64
 17  lat            0 non-null      float64
 18  long           0 non-null      float64
 19  sqft_living15  0 non-null      float64
 20  sqft_lot15     0 non-null      float64
dtypes: float64(20), object(1)
memory usage: 3.5+ MB

*Изучите типы данных*

In [6]:
df.dtypes

id                object
date             float64
price            float64
bedrooms         float64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition        float64
grade            float64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated     float64
zipcode          float64
lat              float64
long             float64
sqft_living15    float64
sqft_lot15       float64
dtype: object

*Найдите количество пропущенных ячеек в данных*

In [7]:
df.isnull().sum()

id                   0
date             21613
price            21613
bedrooms         21613
bathrooms        21613
sqft_living      21613
sqft_lot         21613
floors           21613
waterfront       21613
view             21613
condition        21613
grade            21613
sqft_above       21613
sqft_basement    21613
yr_built         21613
yr_renovated     21613
zipcode          21613
lat              21613
long             21613
sqft_living15    21613
sqft_lot15       21613
dtype: int64

*Посчитайте основные статистики по всем признакам и поизучайте их*

In [8]:
df.describe()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.describe(include=['object'])

                                                       id
count                                               21613
unique                                              21613
top     7129300520,"20141013T000000",221900,3,1,1180,5...
freq                                                    1

# **Условие 3: 3 задача**
*Ответьте на несколько вопросов:*

3.1 В каком диапазоне изменяются стоимости недвижимости?

In [10]:
df['price'].min(), df['price'].max()

(nan, nan)

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [11]:
f"{round((df['sqft_living'].mean() * 100 / df['sqft_lot'].mean()), 2)} %"

'nan %'

3.3 Как много домов с разными этажами в данных?

In [12]:
df['floors'].value_counts()

Series([], Name: floors, dtype: int64)

3.4 Насколько хорошие состояния у домов в данных?

In [13]:
df['condition'].value_counts()

Series([], Name: condition, dtype: int64)

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [14]:
f"Первый дом - {df['yr_built'].min()}"

'Первый дом - nan'

In [15]:
f"Последний дом - {df['yr_built'].max()}"

'Последний дом - nan'

# **Условие 4: 4 задача**
*Ответьте на несколько вопросов:*

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [16]:
df[df['bedrooms'] == 2]['price'].mean()

nan

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [17]:
df[df['price'] > 600000]['sqft_lot'].mean()

nan

4.3 Как много домов коснулся ремонт?

In [18]:
df[df['yr_renovated'].astype('bool')].shape[0]

21613

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [19]:
df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()

nan

# **Условие 5: 5 задача**
*Ответьте на несколько вопросов:*

5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [20]:
df[(df['waterfront'] != 0) & (df['bathrooms'] >= 3) & (df['sqft_basement'] != 0)].shape[0]

0

5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [21]:
choiсe = df[((df['view'] == 4) | (df['waterfront'] != 0)) & (df['yr_built'] >= 1980) & (df['condition'] == 5)]['price']
choiсe.min(), choiсe.max()

(nan, nan)

5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [22]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]['condition'].mean()

nan